*.swp
*.swo
build/*
test/build/*
examples/build/*
!build/CMakeLists.txt
!test/build/CMakeLists.txt
!examples/build/CMakeLists.txt
bin/*
examples/bin/*

*.aux
*.log
*.pdf
docs/doxygen/output
docs/site

### Files and folders created by using JetBrains IDE-applications. ###
.idea
cmake-build-*/
out/

### Files and folders created by VisualStudioCode. ###
.vscode
.history

### Files and folders created by MacOS. ###
.DS_Store
.AppleDouble
.LSOverride
Icon